<div class=".container-fluid" id="dropdown">
  <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#toggler" data-t
    *ngFor='let genre of (genres$ | async)'>
    <!-- {{genre | keyvalue}} -->
    hi
    <!-- Hidden Dropdown info -->
    <!-- <div class="collapse navbar-nav navbar-collapse" id="toggler">
      <li *ngFor="let subgenre of subgenres" class="nav-item explorer-li">
        {{subgenre}}
      </li>
    </div> -->
    <!-- Hidden Dropdown info -->
  </button>
</div>